/*Reset*/
*{
    margin: 0;
    padding: 0;
}
li{
    list-style: none;
}
a{
    color: var(--branco);
    text-decoration: none
}
h1{
    font-size: 50px;
    font-family: 'Roboto', sans-serif;
    font-weight: bold;
}
h2{
    font-size: 45px;
    font-weight: 900;
}
h3{
    font-size: 38px;
    font-weight: 900;
}

/*Importação da fonte*/
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,400;0,900;1,400&family=Roboto:wght@900&display=swap');

/*Variáveis*/
:root{
    --preto: #000;
    --branco: #fff;
    --cinza: #c4c4c4;
    --cinza-escuro: #3d3d3d;
    --preto-claro: #1f1f1f;
    --vermelho-claro: #fb0234;
    --laranja: #ff8f01;
}

html{
    scroll-behavior: smooth;
}

/*Corpo da página*/
body{
    font-family: 'Poppins', sans-serif;
    font-size: 24px;
    height: 100vh;
}

/*Menu e navegação*/
.navegacao{
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 13px 0;
    overflow: hidden;
    position: fixed;
    width: 100%;
}
.menu-container li:first-child{
    margin-left: 0;
}
.menu-container li{
    margin: 0 10px;
}
.menu-secundario-container li{
    margin: 0 7px;
}
.menu-principal, .menu-secundario{
    display: flex;

}
.menu-principal li a, .menu-secundario li a{
    font-size: 0.7em;
    padding: 5px 5px;
    border-radius: 10px;
    transition: all 500ms ease-in-out;
}
.menu-principal li a:hover, .menu-secundario li a:hover{
    background-color: var(--preto-claro);
}
.menu-rolado{
    background-color: var(--cinza-escuro);
    z-index: 1;
}

/*Menu mobile*/
.menu-mobile{
    position: fixed;
    margin-top: 100px;
    background-color: var(--preto-claro);
    width: 70%;
    padding: 5px;
    text-align: center;
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
    border: 2px solid var(--branco);
    z-index: 1;
    margin-left: -2500px;
}
.mobile-primario{
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-top: 20px;
}
.mobile-primario li{
    margin: 10px 0;
}
.mobile-primario li a{
    padding: 5px 5px;
    border-radius: 10px;
    transition: all 500ms ease-in-out;
}
.mobile-primario li a:hover{
    background-color: var(--branco);
    color: var(--preto-claro);
}
/*Botão mobile*/
.menu-btn-mobile{
    display: inline;
    margin: 20px 40px;
    display: none;
}
.menu-btn-mobile button{
    cursor: pointer;
    background-color: transparent;
    border: 1px solid var(--branco);
    border-radius: 10px;
    padding: 10px;
}
.menu-btn-mobile button i{
    font-size: 1.8em;
    color: var(--branco);
}
.open-menu-mobile{
    transition: all 500ms ease-in-out;
    margin-left: 0;
}

/*Banner*/
.banner{
    background-image: url(../img/linha-direta-bg.webp);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    height: 100%;
}
.filtro{
    height: 100%;
    background: linear-gradient(77.88deg,rgba(31, 31, 31, 0.8) 10.68%,rgba(31,31,31,0) 50.01%),linear-gradient(180deg,rgba(31,31,31,0) 25.78%,#1f1f1f 83.61%);
}

.espaco-menu{
    height: 25vh;
}

/*Seçao 1*/
#secao1{
    padding: 0 20px;
    height: 100vh;
}
#secao1 h1{
    color: var(--branco);
    font-size: 1.7em;
    margin: 10px 0;
    text-align: center;
}
#secao1 .info{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    margin-bottom: 10px;
}
#secao1 .info > span{
    margin: 0 5px;
}
#secao1 .info > span:first-child{
    margin-left: 0;
}
.cards{
    display: flex;
    margin: 15px 0;
}
.cards > span{
    margin: 0 15px;
}
.classificacao{
    background-color: var(--laranja);
    padding: 5px 7px;
    border-radius: 10px;
    font-size: 0.8em;
    font-weight: bold;
    color: var(--branco);
    border: 1px solid var(--branco);
}
.qualidade{
    background-color: var(--preto-claro);
    padding: 5px 7px;
    border-radius: 10px;
    font-size: 0.8em;
    font-weight: bold;
    color: var(--branco);
    border: 1px solid var(--branco);
}
.closed-caption{
    background-color: var(--cinza-escuro);
    padding: 5px 7px;
    border-radius: 10px;
    font-size: 0.8em;
    font-weight: bold;
    color: var(--branco);
    border: 1px solid var(--branco);
}
.modalidade{
    display: flex;
    margin: 10px 0;
}
.modalidade > span{
    color: var(--cinza);
    margin: 0 7px;
    font-size: 0.9em;
}
.info-desc{
    width: 100%;
}
.info-desc p{
    color: var(--branco);
    font-size: 0.8em;
    text-align: justify;
}
.assinante-btn{
    background: linear-gradient(to left, var(--laranja), var(--vermelho-claro));
    border: none;
    padding: 10px 20px;
    border-radius: 10px;
    width: 100%;
    color: var(--branco);
    font-size: 1em;
    margin: 10px 0;
    cursor: pointer;
    transition: all 500ms ease-in-out;
}
.assinante-btn:hover, .trailer-btn:hover, .favorito-btn:hover{
    background: var(--cinza);
    color: var(--preto-claro);
}
.botoes{
    display: flex;
    justify-content: center;
    margin: 10px 0;
}
.trailer-btn, .favorito-btn{
    display: flex;
    margin: 0 15px;
    background-color: var(--cinza-escuro);
    padding: 10px 20px;
    border-radius: 10px;
    cursor: pointer;
    color: var(--branco);
    transition: all 500ms ease-in-out;
}
#jabá{
    color: var(--cinza);
    font-size: 0.8em;
    margin-top: 20px;
    text-align: center;
}
#jabá > span{
    color: var(--cinza-escuro);
}

/*Seção 2*/
#secao2{
    height: 100%;
    background-color: var(--preto-claro);
}
.lista-controles{
    display: flex;
    align-items: center;
    justify-content: center;
    padding-bottom: 1%;
    border-bottom: 2px solid var(--branco);
}
.lista-controles a{
    margin: 0px 7px;
    padding: 10px 0;
    color: var(--cinza);
    font-size: 0.7em;
    position: relative;
    transition: all 200ms ease-in-out;
}
.lista-controles a::after{
    content: '';
    position: absolute;
    bottom: 5px;
    left: 50%;
    width: 0%;
    background-color: var(--branco);
    height: 0.2rem;
    transition: all 500ms ease-in-out;
}
.lista-controles a:hover::after{
    width: 100%;
    left: 2%;
    color: var(--branco);
}
.lista-controles a:first-child{
    margin-left: 0;
}
.data{
    margin: 40px 20px;
    text-align: center;
}
.data > span{
    background-color: var(--cinza-escuro);
    padding: 15px 20px;
    border-radius: 10px;
    color: var(--branco);
    cursor: pointer;
    transition: all 300ms ease-in-out;
}
.data > span:hover{
    background-color: var(--cinza);
    color: var(--cinza-escuro);
}
/*Episódios*/
.episodios{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    width: 100%;
}
.ep{
    margin: 20px 0px;
    padding: 0 10px;
    width: 100%;
}
.ep h3{
    color: var(--branco);
    text-align: center;
    margin-top: 20px;
}
.video{
    position: relative;
    margin-top: 20px;
}
.selo{
    position: absolute;
    background-color: var(--vermelho-claro);
    border-top-left-radius: 10px;
    padding: 5px;
    color: var(--branco);
}
.play{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translateX(-50%);
    transform: translateY(-50%);
    color: var(--vermelho-claro);
    font-size: 1.3em;
}
.video .thumb img{
    width: 100%;
    border-radius: 10px;
}
.modal-btn{
    width: 100%;
    height: 25px;
    cursor: pointer;
    background-color: transparent;
    border: none;
    border-radius: 10px;
    transition: all 300ms ease-in-out;
}
.modal-btn:hover{
    border: 2px solid var(--branco);
}
.modal-btn i{
    text-align: center;
    font-size: 1.5em;
    color: var(--branco);
}
.modal-ep{
    display: none;
    margin: auto;
}
.modal-ep p{
    color: var(--branco);
    text-align: center;
}
.open-modal{
    display: flex;
    width: 90%;
    background-color: var(--cinza-escuro);
    padding: 10px;
    border-radius: 10px;
    border: 1px solid var(--branco);
    margin-top: 10px;
    margin-bottom: 7px;
    transition: all 1s ease-in-out;
}

/*Rodapé*/
footer.rodape{
    display: flex;
    justify-content: space-between;
    background-color: var(--cinza-escuro);
    padding: 5px 5px;
}
footer.rodape p{
    color: var(--branco);
    font-size: 0.5em;
}
footer.rodape p > a{
    text-decoration: underline;
}

/*Volta ao topo*/
.topo{
    position: fixed;
    background: linear-gradient(to bottom, var(--vermelho-claro), var(--laranja));
    top: 85%;
    right: 10px;
    border-radius: 10px;
    padding: 2px;
}
.topo > a{
    font-size: 1.4em;
    color: var(--branco);
    padding: 5px;
    text-align: center;
}

/*Menu mobile*/
@media (min-width: 320px) and (max-width: 768px){
    /*Navegação*/
    .navegacao{
        height: 60px;
    }
    .menu-principal, .menu-secundario{
        display: none;
    }

    /*Menu mobile*/
    .menu-btn-mobile{
        display: block;
    }

    /*Banner*/
    .banner{
        background-image: url(../img/linha-direta-bg-p.webp);
        background-position: top;
        background-repeat: no-repeat;
        background-size: cover;
        background-attachment: fixed;
        min-height: 100vh;
    }
}

/*Tablets/Ipads*/
@media (min-width: 481px) and (max-width: 768px){
    .banner{
        height: 100vh;
    }
    /*Seçao 1*/
    #secao1{
        padding: 0 100px;
        height: 100%;
    }  
    
    /*Info*/
    #secao1 h1{
        text-align: left;
    }
    #secao1 .info{
        display: flex;
        flex-direction: row;
    }
    .info-desc{
        font-size: 1.3em;
    }

    /*Botões*/
    .container-btn{
        display: flex;
        margin: 10px 0;
    }
    .assinante-btn{
        width: 40%;
    }
    #jabá{
        text-align: left;
    }

    /*Seção 2*/
    #secao2{
        height: 100%;
    }
    .lista-controles{
        justify-content: space-around;
    }
    .lista-controles a{
        font-size: 1.3em;
    }
    .data{
        text-align: left;
        margin-top: 70px;
    }
    .episodios{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        flex-wrap: nowrap;
        width: 100%;
    }
    .ep{
        margin: 20px 0px;
        width: 70%;
    }

    /*Rodapé*/
    footer.rodape p{
        font-size: 0.9em;
    }
    footer.rodape p > a{
        text-decoration: underline;
    }
}

/*Laptops*/
@media (min-width: 769px) and (max-width: 1366px){
    .banner{
        height: 100vh;
    }
    /*Seçao 1*/
    #secao1{
        padding: 0 100px;
        height: 100%;
    }  
    
    /*Info*/
    #secao1 h1{
        text-align: left;
    }
    #secao1 .info{
        display: flex;
        flex-direction: row;
    }
    .info-desc{
        font-size: 1.3em;
    }

    /*Botões*/
    .container-btn{
        display: flex;
        margin: 10px 0;
    }
    .assinante-btn{
        width: 40%;
    }
    #jabá{
        text-align: left;
    }

    /*Seção 2*/
    #secao2{
        height: 100%;
    }
    .lista-controles{
        justify-content: space-around;
    }
    .lista-controles a{
        font-size: 1.3em;
    }
    .data{
        text-align: left;
        margin-top: 70px;
    }
    .episodios{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        flex-wrap: nowrap;
        width: 100%;
    }
    .ep{
        margin: 20px 0px;
        width: 70%;
    }

    /*Rodapé*/
    footer.rodape p{
        font-size: 0.9em;
    }
    footer.rodape p > a{
        text-decoration: underline;
    }
}

/*Telas gigantes*/
@media (min-width: 1366px){
    .menu-principal li a, .menu-secundario li a{
        font-size: 1.2em;
    }
    .banner{
        height: 100vh;
    }
    /*Seçao 1*/
    #secao1{
        padding: 0 100px;
        height: 100vh;
    }  
    
    /*Info*/
    #secao1 h1{
        text-align: left;
    }
    #secao1 .info{
        display: flex;
        flex-direction: row;
    }
    .info-desc{
        font-size: 1.3em;
    }

    /*Botões*/
    .container-btn{
        display: flex;
        margin: 10px 0;
    }
    .assinante-btn{
        width: 40%;
    }
    #jabá{
        text-align: left;
    }

    /*Seção 2*/
    #secao2{
        height: 100%;
    }
    .lista-controles{
        justify-content: space-around;
    }
    .lista-controles a{
        font-size: 1.3em;
    }
    .data{
        text-align: left;
        margin-top: 70px;
    }
    .episodios{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        flex-wrap: nowrap;
        width: 100%;
    }
    .ep{
        margin: 20px 0px;
        width: 70%;
    }

    /*Rodapé*/
    footer.rodape p{
        font-size: 1.2em;
    }
    footer.rodape p > a{
        text-decoration: underline;
    }
}
